{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="pcoded-content">

    <div class="page-header card">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="feather icon-home bg-c-blue"></i>
                    <div class="d-inline">
                        <h5>Dashboard</h5>
                        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class=" breadcrumb breadcrumb-title">
                        <li class="breadcrumb-item">
                            <a href="index.html"><i class="feather icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Dashboard</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <div class="page-body" dir="rtl" style="text-align: right;">

                   <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-red text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="m-b-0">{{ardada}}</h4>
                                            <p class="m-b-0" style="font-size: 20px;">عدد الطلاب</p>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fas fa-user f-20"></i>
                                        </div>
                                    </div>
                                    <div id="Widget-line-chart1" class="chart-line chart-shadow"
                                        style="width:100%;height:75px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-blue text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="m-b-0">{{wiilasha}}</h4>
                                            <p class="m-b-0" style="font-size: 20px;">البنين</p>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fas fa-male f-20"></i>
                                        </div>
                                    </div>
                                    <div id="Widget-line-chart2" class="chart-line chart-shadow"
                                        style="width:100%;height:75px"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-green text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="m-b-0">{{gabdhaha}}</h4>
                                            <p class="m-b-0" style="font-size: 20px;">البنات</p>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fas fa-female f-20"></i>
                                        </div>
                                    </div>
                                 
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-yellow text-white">
                                <div class="card-block">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <h4 class="m-b-0">{{xalqadaha}}</h4>
                                            <p class="m-b-0" style="font-size: 20px;">الحلفات</p>
                                        </div>
                                        <div class="col-4 text-right">
                                            <i class="fas fa-users f-20"></i>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>






                        <div class="col-xl-4 col-md-6">
                            <div class="card testimonial-card table-card">
                                <div class="card-header">
                                    <h5>الملاحظات</h5>
                                    
                                </div>
                                <div class="card-block">
                                    <div class="review-block">
                                        {% for mulaxada in mulaaxadaatka %}
                                            <div class="row">
                                                
                                                <div class="col">
                                                    <h6 class="m-b-15" style="font-weight: bolder;">{{mulaxada.magacaArdayga}}</h6>
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            
                                                               
                                                                    {{mulaxada.cinwanka}}
                                                         
                                                            
                                                        </div>
                                                        <div class="col">
                                                            <h6 class="m-b-0">{{mulaxada.waqtiga}}</h6>
                                                        </div>
                                                    </div>
                                                    <p class="m-t-15 m-b-0 text-muted">{{mulaxada.faahfahin}}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                   </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}