{% extends 'base.html' %}
{% load jalali_tags %}
{% load static %}
{% block title %} Diwangalinta Ardayga {% endblock %}

{% block content %}
<!--     
<link href="{% static "hijriDateStyle/samples/css/bootstrap.css" %}" rel="stylesheet" />
<link href="{% static "hijriDateStyle/samples/css/bootstrap-datetimepicker.css" %}" rel="stylesheet" /> -->
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="{% static "hijriStatic/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet" />



<div class="pcoded-content" dir="rtl" style="text-align: right; font-family: 'Amiri', serif;font-size: larger;font-weight: bolder;">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">
                                <div class="card-header">
                                    <h5 style="font-family: 'Amiri', serif;">تسجيل الطلاب</h5>
                                    <span>Add class of <code>.form-control</code> with
                                        <code>&lt;input&gt;</code> tag</span>
                                </div>
                                <div class="card-block">

                                    <form method="post" enctype="multipart/form-data" action="/diwangalinta_ardada/" id="form">

                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label">اسم الطالب</label>
                                                <div class="col-sm-12">
                                                    <input name="magaca-ardayga" placeholder="اسم الطالب" type="text" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label">الجنس </label>
                                                <div class="col-sm-12">
                                                    <select name="jinsiga" class="form-control"
                                                        style='padding-right: 30px;height: 40px; border: 1px solid rgba(29, 29, 157, 0.427);border-radius: 5px;'
                                                        required style="text-align: center;">
                                                        <option>ذكر</option>
                                                        <option>انثي</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                
                                                    <input type="file"  name="sawirka-ardayga" accept="image/*" onchange="loadFile(event)">
                                                    <img width="100%" height="100%" id="tijabinta_sawirka">
                                               
                                            </div>
                                           
                                        </div>

                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label">مكان الميلاد</label>
                                                <div class="col-sm-12">
                                                    <input name="meesha-dhalashada" placeholder="مكان الميلاد" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label">تاريخ الميلاد</label>
                                                <div class="col-sm-12">
                                                    <input name="tarikhda-dhalashada" placeholder="تاريخ الميلاد"  id="hijri-picker"  type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label">رقم الهاتف</label>
                                                <div class="col-sm-12">
                                                    <input name="numberka-ardayga" value="0" placeholder="هاتف الطالب"  type="number" maxlength="9" class="form-control">
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label">مستوى الطالب</label>
                                                <div class="col-sm-12">
                                                    <select name="mustawaha" class="form-control"
                                                        style='padding-right: 30px;height: 40px; border: 1px solid rgba(29, 29, 157, 0.427);border-radius: 5px;'
                                                        required style="text-align: center;">
                                                        {% for xalqada in xalqadaha %}
                                                            <option value="{{xalqada.mustawaha}},{{xalqada.magacaXalqada}}" >{{xalqada}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label">ولي الامر</label>
                                                <div class="col-sm-12">
                                                    <input name="magaca-masuulka" placeholder="اسم المسؤول"  type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-5 col-form-label">تلفون ولي الامر</label>
                                                <div class="col-sm-12">
                                                    <input name="numberka-masuulka" value="0" placeholder="رقم الهاتف "  type="number" maxlength="9" class="form-control" >
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label"> العام الدراسي</label>
                                                <div class="col-sm-12">
                                                    <select name="sanad-dugsiyedka" class="form-control"
                                                        style='padding-right: 30px;height: 40px; border: 1px solid rgba(29, 29, 157, 0.427);border-radius: 5px;'
                                                        required style="text-align: center;">
                                                        {% for sanaddugsiyedka in sanadDugsiyedka %}
                                                            <option value="{{sanaddugsiyedka.id}}" >{{sanaddugsiyedka}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label class="col-sm-4 col-form-label">تاريخ التسجيل</label>
                                                <div class="col-sm-12">
                                                    <input name="tarikhda-diwangalinta" placeholder="اسم المسؤول"  type="text" class="form-control">
                                                </div>
                                            </div>
                                           
                                            
                                        </div>
                                   
                                        <br>

                                        <button style="width: 150px;" type="button" id="btnsubmit"
                                            class="btn btn-success waves-effect waves-light">سجل</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="styleSelector">
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
<script src="{% static "hijriStatic/js/bootstrap-hijri-datetimepickermin.js" %}" ></script>


<script type="text/javascript">
    $('#btnsubmit').click(function () {
        document.getElementById("form").submit();
        swal("Waad Diwaanglisay Ardaygaan", {
            icon: "success"});
    })
    var loadFile = function (event) {
        var output = document.getElementById('tijabinta_sawirka');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
    $(function () {
        
        initFromHijri();
    });
    function initFromHijri() {
        $("#hijri-picker").hijriDatePicker({
            hijri: false,
            showSwitcher: true,
            viewMode:"months",
            minDate:"1960-01-01",
            maxDate:"2010-01-01",
            // allowInputToggle: true,
            // debug:true
        });
    }
</script>

{% endblock %}